
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background-color: #ff337e;
    height: 100vh;
}


#container {
    position: absolute;
    top: 10%;
    left: 10%;
    right: 10%;
    bottom: 10%;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("./assets/woods.png") #151729;
    box-shadow: 0 15px 30px 10px;

}

.cont {
    max-width: 600px;
    text-align: center;
}

.cont h1 {
    font-size: 200px;
    color: #fff;
    line-height: 1em;
}

.cont h3 {
    position: relative;
    font-size: 1.5em;
    margin-bottom: 20px;
    color:#111;
    background: #fff;
    font-weight: 300;
    padding: 10px 20px;
    display: inline-block;
}

.cont p {
    color: #fff;
    font-size: 1.2em;
}

.cont a {
    position: relative;
    display: inline-block;
    padding: 10px 25px;
    background: #ff0562;
    text-decoration: none;
    margin-top: 25px;
    color: #fff;
    border-radius: 20px;
    border-bottom: 4px solid #d00d56;
}




